.mainchat {
  width: calc(100vw - 300px);
}
.header {
  height: 100px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  &__group {
    &__group-name{
      color: #333;
      font-size: 20px;
      margin-top: 35px;
    }
    &__member {
      color: #999;
      display: flex;
      font-size: 12px;
      margin-top: 15px;
      &__group-user {
        padding: 0px;
        font-size: 13px;
      }
    }
  }
  &__edit-btn {
    height: 40px;
    padding: 0 20px;
    margin-top: 28px;
    line-height: 40px;
    color: $color-skyblue;
    border: 1px solid $color-skyblue;
  }
}
.messages {
  overflow: scroll;
  padding: 35px 40px 0;
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  &__message-box {
    margin-bottom: 46px;
    &__user-name {
      font-size: 16px;
      font-weight: bold;
      color: $color-darkgray;
      display: flex;
      &__date {
        color: #999;
        font-size: 12px;
        padding-left: 10px;
        font-weight:normal;
      }
    }
    &__text {
      color: $color-darkgray;
      font-size: 14px;
      margin-top: 12px;
    }
  }
}
.form {
  display: flex;
  background-color: #dddddd;
  padding: 20px 50px 20px 40px;
  .input-box {
    width: 100%;
    display: flex;
    position: relative;
    .input-box-content {
      width: 100%;
      border: none;
      padding: 0 45px 0 15px;
      background-color: $color-white;
    }
    .image {
      right: 10px;
      font-size: 25px;
      cursor: pointer;
      line-height: 50px;
      position: absolute;
    }
    .hidden {
      display: none;
    }
  }
  .submit-btn {
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 30px;
    line-height: 50px;
    margin-left: 15px;
    color: $color-white;
    background-color: $color-skyblue;
  }
}